*{
  box-sizing: border-box;
}
body
{
  margin: 0;
  background-color: #E5DDF1;
  font-size: 16px;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Cuprum', sans-serif;
}
h1{
  margin-top: 0;
  font-size: 3.5em;
}
h2{font-size: 2em;}
h3{font-size: 1.6em;}
h4{font-size: 1.4em;}
h5{font-size: 1em;}

p{
  line-height: 1.8em;
  font-family: 'Domine', serif;
}
.rootContainer
{
  width: 90vw;
  margin: 25px auto;
  background-color: #E5DDF1;
}
.title
{
  margin: auto;
}
.bodyText
{
 margin: auto;
}
.quoteContainer
{
  font-size: 19px;
  width: 75vw;
  margin: auto;
}
.quote
{
  margin: auto;
}
img
{
width: 90vw;
height: auto;
}
.footerGrey
{
  width: 100%;
  height: 50px;
  background-color: #423636;
}
.footerBlack
{
  width: 100%;
  height: 100px;
  background-color: #110E0E
}
.footerBlue
{
  width: 100%;
  height: 150px;
  background-color: #2B777A
}


@media only screen and (min-width: 600px) {
  body{
    background-color: #E5DDF1;
  }
  .rootContainer{
    width: 75vw;
  }
    h1{
      margin-top: 0;
      font-size: 4em;
  }
  .quoteContainer
  {
    font-size: 19px;
    width: 50vw;
    margin: auto;
  }
  img
  {
  width: 70vw;
  height: auto;
  }
}

@media only screen and (min-width: 1000px) {
  body{
  }
    .rootContainer{
      width: 60vw;
    }
    h1{
      margin-top: 0;
      font-size: 5em;
    }
    img
    {
    width: 55vw;
    height: auto;
    }
    .quoteContainer
    {
      font-size: 19px;
      width: 45vw;
      margin: auto;
    }
}

@media only screen and (min-width: 1200px) {
  body{
    background-color: #E5DDF1;
  }
    .rootContainer{
      width: 50vw;
    }
    h1{
      margin-top: 0;
      font-size: 6em;
    }

    img
    {
    width: 45vw;
    height: auto;
    }
    .quoteContainer
    {
      font-size: 19px;
      width: 40vw;
      margin: auto;
    }
}
