*{
  box-sizing: border-box;
}

body{
  margin: 0;
}
.court{
  width: 1200px;
  margin: 0 auto;
}
.middle{
  width: 800px;
  float: left;
}
.side{
  width: 200px;
  height: 600px;
  background-color: red;
  border: 5px solid white;
  float: left;
}
.back{
  width: 800px;
  height: 200px;
  background-color: red;
  border: 5px solid white;
  float: left;
}
.square{
  width: 400px;
  height: 400px;
  background-color: red;
  border: 5px solid white;
  float: left;
}
