body{
  margin: 100px 0 0 0;
  background-color: lightsmoke;
}
a {
  text-align: center;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  color: black;
  text-decoration: none;
  border-bottom: 4px solid blue;
  transition: color 1s ease;
}
a:hover{
  color: blue;
}
h1{
  text-align: center;
}
