*{
  box-sizing: border-box;
}

body{
  margin: 0;
}
div{

  float: left;
}
.board{
  width: 800px;
}
.red{
  width: 100px;
  height: 100px;
  background-color: red;
}
.black{
  width: 100px;
  height: 100px;
  background-color: black;
}
